In [1]:
import sqlite3
conn = sqlite3.connect('db.db')

In [12]:
conn.execute("DROP TABLE MESSAGE")

conn.execute('''CREATE TABLE MESSAGE
         (ID INT PRIMARY KEY     NOT NULL,
         SENDERID           INTEGER    NOT NULL,
         RECEIVERID     INTEGER NOT NULL,
         TIME       TEXT NOT NULL,
         CONTENT     TEXT NOT NULL);''')

conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (4, 5, 2, '2023-01-14-16:59:34', 'hi there pikachu')");
conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (5, 2, 5, '2023-01-14-16:59:36', 'hi there ash, how is your day?')");
conn.commit()

In [13]:
conn.execute("DROP TABLE USER")

conn.execute('''CREATE TABLE USER
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         ISPATRONUS     INTEGER,
         PATRONUS       INTEGER,
         MOOD     INTEGER,
         ENERGY INTEGER,
         KINDNESS INTEGER);''')

conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (1, 'jianzhi', 0, 1, 100, 100, 100)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (2, 'pikachu', 1, 0, 100, 100, 100)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (3, 'blue', 0, 4, 10, 10, 10)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (4, 'blub', 1, 0, 50, 50, 50)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (5, 'ash', 0, 0, 80, 90, 50)");
conn.commit()

In [2]:
conn.execute("DROP TABLE USER")

In [8]:
conn.execute("DROP TABLE MESSAGE")

In [9]:
conn.execute('''CREATE TABLE MESSAGE
         (ID INT PRIMARY KEY     NOT NULL,
         SENDERID           INTEGER    NOT NULL,
         RECEIVERID     INTEGER NOT NULL,
         TIME       TEXT NOT NULL,
         CONTENT     TEXT NOT NULL);''')

In [4]:
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (1, 'jianzhi', 0, 1, 100, 100, 100)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (2, 'pikachu', 1, 0, 100, 100, 100)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (3, 'blue', 0, 4, 10, 10, 10)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (4, 'blub', 1, 0, 50, 50, 50)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (5, 'ash', 1, 0, 80, 90, 50)");
conn.commit()

In [5]:
conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (1, 1, 2, '2023-01-14-16:59:34', 'hi there pikachu')");

IntegrityError: UNIQUE constraint failed: MESSAGE.ID

In [6]:
conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (2, 2, 1, '2023-01-14-16:59:36', 'hi there jianzhi, how is your day?')");
conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (3, 1, 2, '2023-01-14-16:59:38', 'alright, had a busy day. how is your nap going?')");

In [10]:
conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (4, 5, 2, '2023-01-14-16:59:34', 'hi there pikachu')");
conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (5, 2, 5, '2023-01-14-16:59:36', 'hi there ash, how is your day?')");
conn.commit()

In [21]:
conn.commit()

In [6]:
cursor = conn.execute("SELECT ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS from USER")
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ISPATRONUS = ", row[2])
    print("PATRONUS = ", row[3])
    print("MOOD = ", row[4])
    print("ENERGY = ", row[5])
    print("KINDNESS = ", row[6])

ID =  1
NAME =  jianzhi
ISPATRONUS =  0
PATRONUS =  1
MOOD =  100
ENERGY =  100
KINDNESS =  100
ID =  2
NAME =  pikachu
ISPATRONUS =  1
PATRONUS =  0
MOOD =  100
ENERGY =  100
KINDNESS =  100
ID =  3
NAME =  blue
ISPATRONUS =  0
PATRONUS =  4
MOOD =  10
ENERGY =  10
KINDNESS =  10
ID =  4
NAME =  blub
ISPATRONUS =  1
PATRONUS =  0
MOOD =  50
ENERGY =  50
KINDNESS =  50
ID =  5
NAME =  ash
ISPATRONUS =  1
PATRONUS =  0
MOOD =  80
ENERGY =  90
KINDNESS =  50

In [14]:
cursor = conn.execute("SELECT id, senderid, receiverid, time, content from MESSAGE")
for row in cursor:
    print("ID = ", row[0])
    print("senderid = ", row[1])
    print("receiverid = ", row[2])
    print("time = ", row[3])
    print("content = ", row[4])

ID =  4
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  hi there pikachu
ID =  5
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:36
content =  hi there ash, how is your day?
ID =  6
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  hello, I am still ok. How is your nap yesterday?
ID =  7
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  8
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  I want chips
ID =  9
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  10
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  hello there ash
ID =  11
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  12
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  hello there ash
ID =  13
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  14
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  hello there
ID =  15
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  16
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  bello
ID =  17
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  18
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  ahahaha
ID =  19
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  20
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  hello pika
ID =  21
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  22
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  hellosdf
ID =  23
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  24
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  higher power's taking a hold on me
ID =  25
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  26
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  baby i love your style
ID =  27
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  28
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  i'm paralysed
ID =  29
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  30
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  detlahere
ID =  31
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  32
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  after one message
ID =  33
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  34
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  bello
ID =  35
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  36
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  for some reasons i can't explain
ID =  37
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  38
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  for some
ID =  39
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  40
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  for some
ID =  41
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good
ID =  42
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  what is happening
ID =  43
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =  i'm fine, the nap was good

In [17]:
cursor = conn.execute("SELECT MAX(ID) FROM MESSAGE")
for row in cursor:
    print(row[0])

3

In [38]:
conn.close()