In [20]:
import sqlite3
conn = sqlite3.connect('db.db')

### Reset Table USER

In [25]:
conn.execute("DROP TABLE USER")

conn.execute('''CREATE TABLE USER
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         ISPATRONUS     INTEGER,
         PATRONUS       INTEGER,
         MOOD     INTEGER,
         ENERGY INTEGER,
         KINDNESS INTEGER);''')

conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (5, 'ash', 0, 2, 50, 50, 50)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (2, 'pikachu', 1, 0, 90, 90, 90)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (3, 'serena', 0, 4, 70, 70, 70)");
conn.commit()

### Reset Table MESSAGE

In [26]:
conn.execute("DROP TABLE MESSAGE")

conn.execute('''CREATE TABLE MESSAGE
         (ID INT PRIMARY KEY     NOT NULL,
         SENDERID           INTEGER    NOT NULL,
         RECEIVERID     INTEGER NOT NULL,
         TIME       TEXT NOT NULL,
         CONTENT     TEXT NOT NULL);''')

conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (4, 5, 2, '2023-01-14-16:59:34', 'hi there pikachu')");
conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (5, 2, 5, '2023-01-14-16:59:36', 'hi there ash, how is your day?')");
conn.commit()

### MISC

In [12]:
conn.execute("DROP TABLE MESSAGE")

conn.execute('''CREATE TABLE MESSAGE
         (ID INT PRIMARY KEY     NOT NULL,
         SENDERID           INTEGER    NOT NULL,
         RECEIVERID     INTEGER NOT NULL,
         TIME       TEXT NOT NULL,
         CONTENT     TEXT NOT NULL);''')

conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (4, 5, 2, '2023-01-14-16:59:34', 'hi there pikachu')");
conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (5, 2, 5, '2023-01-14-16:59:36', 'hi there ash, how is your day?')");
conn.commit()

In [2]:
conn.execute("DROP TABLE USER")

In [8]:
conn.execute("DROP TABLE MESSAGE")

In [9]:
conn.execute('''CREATE TABLE MESSAGE
         (ID INT PRIMARY KEY     NOT NULL,
         SENDERID           INTEGER    NOT NULL,
         RECEIVERID     INTEGER NOT NULL,
         TIME       TEXT NOT NULL,
         CONTENT     TEXT NOT NULL);''')

In [4]:
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (1, 'jianzhi', 0, 1, 100, 100, 100)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (2, 'pikachu', 1, 0, 100, 100, 100)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (3, 'blue', 0, 4, 10, 10, 10)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (4, 'blub', 1, 0, 50, 50, 50)");
conn.execute("INSERT INTO USER (ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS) \
      VALUES (5, 'ash', 1, 0, 80, 90, 50)");
conn.commit()

In [5]:
conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (1, 1, 2, '2023-01-14-16:59:34', 'hi there pikachu')");

IntegrityError: UNIQUE constraint failed: MESSAGE.ID

In [6]:
conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (2, 2, 1, '2023-01-14-16:59:36', 'hi there jianzhi, how is your day?')");
conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (3, 1, 2, '2023-01-14-16:59:38', 'alright, had a busy day. how is your nap going?')");

In [10]:
conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (4, 5, 2, '2023-01-14-16:59:34', 'hi there pikachu')");
conn.execute("INSERT INTO MESSAGE (ID, SENDERID, RECEIVERID, TIME, CONTENT) \
      VALUES (5, 2, 5, '2023-01-14-16:59:36', 'hi there ash, how is your day?')");
conn.commit()

In [21]:
conn.commit()

In [23]:
cursor = conn.execute("SELECT ID,NAME,ISPATRONUS,PATRONUS, MOOD, ENERGY, KINDNESS from USER")
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ISPATRONUS = ", row[2])
    print("PATRONUS = ", row[3])
    print("MOOD = ", row[4])
    print("ENERGY = ", row[5])
    print("KINDNESS = ", row[6])

ID =  5
NAME =  ash
ISPATRONUS =  0
PATRONUS =  2
MOOD =  50
ENERGY =  50
KINDNESS =  50
ID =  2
NAME =  pikachu
ISPATRONUS =  1
PATRONUS =  0
MOOD =  90
ENERGY =  90
KINDNESS =  90
ID =  3
NAME =  serena
ISPATRONUS =  0
PATRONUS =  4
MOOD =  70
ENERGY =  70
KINDNESS =  70

In [24]:
cursor = conn.execute("SELECT id, senderid, receiverid, time, content from MESSAGE")
for row in cursor:
    print("ID = ", row[0])
    print("senderid = ", row[1])
    print("receiverid = ", row[2])
    print("time = ", row[3])
    print("content = ", row[4])

ID =  4
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  hi there pikachu
ID =  5
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:36
content =  hi there ash, how is your day?
ID =  6
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  I'm good! Should I ask Serena out on a date?
ID =  7
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:34
content =   I don't know, ash. She seems kind of...rude.

In [27]:
cursor = conn.execute("SELECT id, senderid, receiverid, time, content from MESSAGE WHERE senderid=2 AND receiverid=5 OR senderid=5 AND receiverid=2")
for row in cursor:
    print("ID = ", row[0])
    print("senderid = ", row[1])
    print("receiverid = ", row[2])
    print("time = ", row[3])
    print("content = ", row[4])

ID =  4
senderid =  5
receiverid =  2
time =  2023-01-14-16:59:34
content =  hi there pikachu
ID =  5
senderid =  2
receiverid =  5
time =  2023-01-14-16:59:36
content =  hi there ash, how is your day?

In [17]:
cursor = conn.execute("SELECT MAX(ID) FROM MESSAGE")
for row in cursor:
    print(row[0])

3

In [38]:
conn.close()